# Sole maintainer with full repository access.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @solomonsjoseph
